extends ./home.pug

block title
  |Log In

block content
 .card
  form(name="newpost",action="/auth",method="post")
      div(class="removeFormSpace")
        label(for="user") User Name
      div(class="removeFormSpace")
        input(type="text",name="user")
      div(class="removeFormSpace")
        label(for="password") Password
      div(class="removeFormSpace")
        input(type="text",name="password")
      input(type="submit",value="Post")
